#{extends 'main.html' /} #{set title:'Donation' /}

<!-- the landing page -->
<nav class="ui inverted menu">
	<a class="ui item" href="/">Home</a> 
	<a class="ui item" href="/signup">Sign Up</a> 
		<a class="ui item" href="/login">Log In</a> 
		<a class="ui active item" href="/donation">Make Donation</a> 
		<a class="ui item" href="/renderReport">Report</a> 
		<a class="ui item" href="/logout">Log Out</a>
</nav>

<section class="ui segment">
	<h3>Welcome ${user.firstName}</h3>
	<h2 class="ui small header">Please give generously</h2>
	<p>Select an amount:</p>
	<form class="ui form" action="/donation/donate" method="POST">
		<!-- references the Donation model and DOnation Controller method 'donate'with corresponding routes -->
		<div class="ui one column grid">
			<div class="column">
				<div class="ui selection dropdown">
					<input name="amountDonated" type="hidden">
					<div class="default text">Amount</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" data-value="100">$100</div>
						<div class="item" data-value="500">$500</div>
						<div class="item" data-value="1000">$1000</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="inline field">
					<div class="ui radio checkbox">
						<input id="paypal" name="methodDonated" value="paypal"
							checked="checked" type="radio"> <label for="paypal">Paypal</label>
					</div>
				</div>
				<div class="inline field">
					<div class="ui radio checkbox">
						<input id="direct" name="methodDonated" value="direct"
							checked="checked" type="radio"> <label for="direct">Direct</label>
					</div>
			</div>
		</div>

		<div class="field">
			<button type="submit" class="ui blue submit button">Donate</button>
			<div class="ui error message"></div>
</div>
	</form>
<div class="ui segment">
		<h4 class="ui header">Amount target achieved</h4>
		<div class="ui blue successful progress">
			<div class="bar" style="width: ${progress}"></div>
			<div class="label">${progress} of Target</div>
			<!-- displays progress as 'width:50%'.. etc , as defined in Donation Controller index()method-->
			<!-- required to comply with formatting requirements of semantic ui progress bar -->
		</div>
	</div>
</section>
