#{extends 'main.html' /} #{set title:'Report' /}

<nav class="ui inverted menu">
	<a class="ui item" href="/">Home</a> <a class="ui item" href="/signup">Sign
		Up</a> <a class="ui item" href="/login">Log In</a> <a class="ui item"
		href="/donation">Make Donation</a> <a class="ui active item"
		href="/renderReport">Report</a> <a class="ui item" href="/logout">Log
		Out</a>
</nav>

<section class="ui segment">
	<h4>List Donations</h4>

	<table class="ui table segment">
		<thead>
			<tr>
				<th>Donors</th>
				<th>Amount($)</th>
				<th>Method donated</th>
				<th>Date donated</th>
			</tr>
		</thead>

		<tbody>
			#{list items:donations, as: 'donation'}
			<tr>
				<td>${donation.from.firstName}&nbsp;${donation.from.lastName}</td>
				<td>${donation.amountDonated}</td>
				<td>${donation.methodDonated}</td>
				<td>${donation.dateDonated}</td>				
			</tr>
			#{/list}
		</tbody>
	</table>