#{extends 'main.html' /}
#{set title:'Welcome' /}

<nav class="ui inverted menu">
   <a class="ui active item" href="/">Home</a>
   <a class="ui item" href="/signup">Sign Up</a>
   <a class="ui item" href="/login">Log In</a>
   <a class="ui item" href="/donation">Make Donation</a>
   <a class="ui item" href="/renderReport">Report</a> 
   <a class="ui item" href="/logout">Log Out</a>
</nav>

<h1>Welcome</h1>

<table>
	<tr>
		<td>
			<p>Homer for President</p>
			<p>Time for a change</p>
		    <p>Out with Boring Alamo</p>
			<p>Giving has never been so easy</p>
			<p>Just click <a href ="/login">here</a> to log in </p>
			<p>Then go to the Donation page and empty your wallet</p>
		</td>
		<td><img src="/public/images/homer.gif"></td>
	</tr>
</table>  

