#{extends 'main.html' /}
#{set title:'Signup for Donation' /}
      
   <nav class="ui inverted menu">
    <a class="ui item" href="/">Home</a>
    <a class="ui active item" href="/signup">Sign Up</a>
    <a class="ui item" href="/login">Log In</a>
    <a class="ui item" href="./donation">Make Donation</a>
    <a class="ui item" href="/renderReport">Report</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

<section class="ui form segment">
<form action="/register" method="POST">
<div class="inline field">
<input type="checkbox" id="usCitizen" name="user.usCitizen"> 
<label for="usCitizen">Tick to confirm you are a citizen of the USA</label>  
</div>
  <div class="ui two column grid">
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Sign Up</h3>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input placeholder="First Name" id="firstName" name="user.firstName" type="text">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input placeholder="Last Name" name="user.lastName" type="text">
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" name="user.email" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="user.password">
      </div>
      <button type="submit" class="ui blue submit button">Signup</button>
    </div>
  </div>
</div>
</form>
</section>  